*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: url(./images/pexels-oleg-magni-1040499.jpg) no-repeat center left;
    background-size: cover; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black !important;
}

.section-0{
     background: url(./images/resized-image-Promo.jpeg) no-repeat center;
    background-size: cover;
}
.overlay-div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: .5;
}
.section-h2{
    background-color: black;
}
h1.p-2.p-md-5.mt-md-1.fs-5 {
    font-size: 3rem !important;
    color: #dc3545;
}
h3.p-3 {
    color: #dc3545;
    /* background-color: #000; */
}
p.mb-md-5.first {
    color: #dc3545;
    /* background-color: black; */
}
hr{
    width:10%; 
    color:#dc3545 !important; 
    margin:20px !important;
}
a.text-decoration-none.text-white.fs-5 {
    font-size: 13px !important;
}
button.col-md-4.col-7.m-3.btn.btn-white.btn-sm.btn-outline-danger.text-uppercase {
    height: 50px;
}
h1.text-uppercase.p-1 {
    margin-top: 35px;
    font-size: 35px;
}
hr.hr-1 {
    margin: auto !important;
}
hr.hr-2 {
    margin: auto !important;
}
hr.hr-3 {
    margin: auto !important;
}
hr.hr-4 {
    margin: auto !important;
}
p.mt-5.pt-1.fw-normal.text-center.bg.text-uppercase {
    font-size: 22px;
}

img.position-absolute.top-1.end-2.m-1 {
    top: 15px;
    left: -38px;
}
img.img-2 {
    position: absolute;
    top: 328px;
    left: -33px;
}
img.img-3 {
    position: absolute;
    top: 629px;
    left: -33px;
}
img.img-4 {
    position: absolute;
    top: 935px;
    left: -33px;
}
h2.mt-md-5.text-uppercase.text-center.mb-3 {
    margin-top: 125px !important;
}
h2.text-uppercase.text-center.mb-3.mb-md-4.mb-lg-5.mt-5 {
    margin-top: 100px !important;
}


@media screen {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
h1.fs-1.text-right.text-uppercase.mb-4.mt-md-4 {
    margin-top: 85px !important;
}
    h1.p-2.p-md-5 {
    font-size: 60px;
    padding: 5px !important;
}
h3.p-3 {
    font-size: 45px;
}
p.first {
    font-size: 20px;
}
p.mt-md-5.mx-md-4.mx-lg-5 {
    font-size: 25px !important;
}
p.mx-md-4.mx-lg-5 {
    font-size: 25px !important;
}
button.col-7.m-3.btn.btn-white.btn-sm.btn-outline-danger.text-uppercase {
    position: absolute;
    top: 1198px;
    right: 130px;
}
.div-1 {
    height: 300px;
}
section.section-2.mt-md-5 {
    margin-top: 85px !important;
    background-color: #000; 
}
.overlay-div {
    height: 63%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: .5;
}
img.position-absolute.top-1.end-2.m-1 {
    width: 10% !important;
}
img.img-2 {
    width: 10% !important;
    top: 240px;
}
img.img-3 {
    width: 10% !important;
    top: 465px;
}
img.img-4 {
    width: 10% !important;
    top: 680px;
}
h2.text-uppercase.text-center.mb-3.mb-md-4.mb-lg-5.mt-5 {
    margin-top: 140px !important;
}
h2.mt-md-5.text-uppercase.text-center.mb-3 {
    margin-top: 160px !important;
}
.mt-5.m-3.m-md-4.m-lg-5 {
    margin-bottom: 100px !important;
}
.m-3.mt-5 {
    margin-left: 37px !important;
    margin-right: 37px !important;
}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.m-3.mt-5 {
    margin-left: 57px !important;
    margin-right: 57px !important;
}
 }

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .m-3.mt-5 {
    margin-left: 77px !important;
    margin-right: 77px !important;
}  
.section-1 {
    background-color: black !important;
    height: 1000px;
}
img.position-absolute.top-1.end-2.m-1 {
    width: 10% !important;
    left: -67px;
}
img.img-2 {
    width: 10% !important;
    top: 375px;
    left: -67px;
}
img.img-3 {
    width: 10% !important;
    top: 675px;
    left: -67px;
}
img.img-4 {
    width: 10% !important;
    top: 1019px;
    left: -67px;
}
 }






















