* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-0 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(./images/resized-image-Promo.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
  height: 50%;
}
h1.p-2.p-md-5.mt-md-1.fs-5 {
  font-size: 2.5rem !important;
}

hr {
  width: 10%;
  color: #dc3545 !important;
  margin: 20px !important;
}
a.text-decoration-none.text-white.fs-5 {
  font-size: 13px !important;
}
button.col-md-4.col-7.m-3.btn.btn-white.btn-sm.btn-outline-danger.text-uppercase {
  height: 50px;
}
h1.text-uppercase.p-1 {
  margin-top: 35px;
  font-size: 35px;
}
hr.hr-1 {
  margin: auto !important;
}
hr.hr-2 {
  margin: auto !important;
}
hr.hr-3 {
  margin: auto !important;
}
hr.hr-4 {
  margin: auto !important;
}
p.mt-5.pt-1.fw-normal.text-center.bg.text-uppercase {
  font-size: 22px;
}

img.position-absolute.top-1.end-2.m-1 {
  top: 15px;
  left: -38px;
}
img.img-2 {
  position: absolute;
  top: 328px;
  left: -33px;
}
img.img-3 {
  position: absolute;
  top: 629px;
  left: -33px;
}
img.img-4 {
  position: absolute;
  top: 935px;
  left: -33px;
}
h2.mt-md-5.text-uppercase.text-center.mb-3 {
  margin-top: 55px !important;
}

@media screen {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1.fs-1.text-right.text-uppercase.mb-4.mt-md-4 {
    margin-top: 85px !important;
  }
  h1.p-2.p-md-5 {
    font-size: 60px;
    padding: 5px !important;
  }
  h3.p-3 {
    font-size: 45px;
  }
  p.first {
    font-size: 20px;
  }
  p.mt-md-5.mx-md-4.mx-lg-5 {
    font-size: 25px !important;
  }
  p.mx-md-4.mx-lg-5 {
    font-size: 25px !important;
  }
  button.col-7.m-3.btn.btn-white.btn-sm.btn-outline-danger.text-uppercase {
    position: absolute;
    top: 1198px;
    right: 130px;
  }
  img.position-absolute.top-1.end-2.m-1 {
    width: 10% !important;
  }
  img.img-2 {
    width: 10% !important;
    top: 240px;
  }
  img.img-3 {
    width: 10% !important;
    top: 465px;
  }
  img.img-4 {
    width: 10% !important;
    top: 680px;
  }
  h2.mt-md-5.text-uppercase.text-center.mb-3 {
    margin-top: 160px !important;
  }
  .m-3.mt-5 {
    margin-left: 37px !important;
    margin-right: 37px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .m-3.mt-5 {
    margin-left: 57px !important;
    margin-right: 57px !important;
  }
  .overlay-div {
    height: 85%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
  }
}

